<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="game.dori.mapper.addressMapper">
 
  <insert id="insert" parameterType="addressVO">
  INSERT INTO address_tb (addr_1, addr_2, addr_3, member_tb_idx)
  VALUES (#{addr_1}, #{addr_2}, #{addr_3}, #{member_tb_idx})
</insert>
  <!--  주소 삽입 sql문 -->
  
  
  
  <!-- 관련된 주소 데이터 삭제 -->
<delete id="delete_address" parameterType="MemberVO">
  DELETE FROM address_tb
  WHERE MEMBER_TB_IDX = (SELECT MEMBER_IDX FROM member_tb WHERE member_email = #{member_email} AND member_pw = #{member_pw})
</delete>
  
</mapper>
