<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="game.dori.mapper.categoryMapper">
	<!-- 카테고리 분류 -->
	<select id="category" resultType="categoryVO">
		WITH category_tb AS(
		SELECT '닌텐도' AS CATE_NAME , 100 AS CATE_CODE, NULL AS CATE_REFCODE FROM dual UNION ALL
		SELECT '하드웨어' AS CATE_NAME , 101 AS CATE_CODE, 100 AS CATE_REFCODE FROM dual UNION ALL
		SELECT '타이틀' AS CATE_NAME , 102 AS CATE_CODE, 100 AS CATE_REFCODE FROM dual UNION ALL
		SELECT '주변기기' AS CATE_NAME , 103 AS CATE_CODE, 100 AS CATE_REFCODE FROM dual UNION ALL
		SELECT '아미보' AS CATE_NAME , 104 AS CATE_CODE, 100 AS CATE_REFCODE FROM dual UNION ALL
		SELECT 'ps5' AS CATE_NAME , 200 AS CATE_CODE, NULL AS CATE_REFCODE FROM dual UNION ALL
		SELECT '하드웨어' AS CATE_NAME , 201 AS CATE_CODE, 200 AS CATE_REFCODE FROM dual UNION ALL
		SELECT '타이틀' AS CATE_NAME , 202 AS CATE_CODE, 200 AS CATE_REFCODE FROM dual UNION ALL
		SELECT '주변기기' AS CATE_NAME , 203 AS CATE_CODE, 200 AS CATE_REFCODE FROM dual UNION ALL
		SELECT 'ps4' AS CATE_NAME , 300 AS CATE_CODE, NULL AS CATE_REFCODE FROM dual UNION ALL
		SELECT '하드웨어' AS CATE_NAME , 301 AS CATE_CODE, 300 AS CATE_REFCODE FROM dual UNION ALL
		SELECT '타이틀' AS CATE_NAME , 302 AS CATE_CODE, 300 AS CATE_REFCODE FROM dual UNION ALL
		SELECT '주변기기' AS CATE_NAME , 303 AS CATE_CODE, 300 AS CATE_REFCODE FROM dual UNION ALL
		SELECT 'xbox' AS CATE_NAME , 400 AS CATE_CODE, NULL AS CATE_REFCODE FROM dual UNION ALL
		SELECT '하드웨어' AS CATE_NAME , 401 AS CATE_CODE, 400 AS CATE_REFCODE FROM dual UNION ALL
		SELECT '타이틀' AS CATE_NAME , 402 AS CATE_CODE, 400 AS CATE_REFCODE FROM dual UNION ALL
		SELECT '주변기기' AS CATE_NAME , 403 AS CATE_CODE, 400 AS CATE_REFCODE FROM dual UNION ALL
		SELECT '굿즈' AS CATE_NAME , 500 AS CATE_CODE, NULL AS CATE_REFCODE FROM dual UNION ALL
		SELECT '피규어' AS CATE_NAME , 501 AS CATE_CODE, 500 AS CATE_REFCODE FROM dual
		)
		SELECT 1 AS level, CATE_NAME, CATE_CODE, CATE_REFCODE FROM category_tb WHERE CATE_REFCODE is NULL
		UNION ALL
		SELECT 2 AS level, CATE_NAME, CATE_CODE, CATE_REFCODE FROM category_tb WHERE CATE_REFCODE IS NOT null
		ORDER BY CATE_CODE
	</select>
</mapper>