<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="game.dori.mapper.couponMapper">
	
	
	
	<!--  쿠폰 적립 -->
	<insert id ="insertcoupon"  parameterType="couponVO">
		
		insert into coupon_tb(MEMBER_TB_IDX, COUPON_END,COUPON_YN)
		value(#{member_tb_idx},#{coupon_end},#{coupon_yn})
	</insert>
	
	<!-- 마이페이지 쿠폰 리스트 출력  -->
	<select id="selectCouponList" resultType="couponVO" parameterType="int">
		select *
			from coupon_tb
			where MEMBER_TB_IDX = #{MEMBER_IDX}
	</select>
	
	<!-- 마이페이지 쿠폰 개수 -->
	<select id="CouponCount" resultType="int" parameterType="int">
		SELECT COUNT(COUPON_IDX)
		 FROM coupon_tb
		WHERE MEMBER_TB_IDX = #{MEMBER_IDX}
	</select>
	
	
	<!--  쿠폰 삭제 -->
	<delete id="deleteCupon" parameterType="MemberVO">
	  DELETE FROM coupon_tb
	  WHERE MEMBER_TB_IDX = (SELECT MEMBER_IDX FROM member_tb WHERE member_email = #{member_email} AND member_pw = #{member_pw})
	</delete>
	
</mapper>