<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="game.dori.mapper.couponMapper">
	
	<!-- 마이페이지 쿠폰 리스트 출력  -->
	<select id="selectCouponList" resultType="couponVO" parameterType="int">
		select *
			from coupon_tb
			where MEMBER_TB_IDX = #{MEMBER_IDX}
	</select>
	
	<!-- 마이페이지 쿠폰 개수 -->
	<select id="CouponCount" resultType="int" parameterType="int">
		SELECT coupon_idx
		 FROM coupon_tb
		WHERE MEMBER_TB_IDX = #{MEMBER_IDX}
	</select>
	
	
</mapper>