<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="game.dori.mapper.MemberMapper">

	 <select id="selectByBno" resultType="memberVO" parameterType="int">
	 	select *
	 	from member_tb
	 	where member_idx = #{member_idx}
	 </select>
	
	<select id="selectByEmail" resultType="memberVO">
    SELECT * FROM member_tb WHERE member_email = #{email}
	</select>
	 
	 
	 <select id ="Login" resultType="memberVO">
	 	
	 	select * from member_tb where member_email = #{member_email} and member_pw = #{member_pw}
	 	and member_email_yn = "2"
	 
	 </select>
	 
	

</mapper>

