<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="game.dori.mapper.noticeMapper">


	<!--  select all notice_tb 에있는 모든데이터를 선택해서 저장 -->
	<select id="selectAll" resultType="noticeVO" parameterType="map">
	    SELECT * FROM notice_tb
	    ORDER BY notice_idx DESC
	    LIMIT #{limit} OFFSET #{start}
	</select>  
	
	
	<!-- 페이징 처리를 위한 notice_board의 게시물 수값을 얻기위한 쿼리문 -->
	<select id="countAll" resultType="int">
    	SELECT COUNT(*) FROM notice_tb
	</select>
	
	
	<select id="search" resultType="noticeVO" parameterType="map">
    SELECT * FROM notice_tb
    <where>
        <choose>
            <when test="searchOption == 'name'">
                AND notice_writer LIKE CONCAT('%', #{searchText}, '%')
            </when>
            <when test="searchOption == 'content'">
                AND (notice_title LIKE CONCAT('%', #{searchText}, '%') OR notice_content LIKE CONCAT('%', #{searchText}, '%'))
            </when>
            <otherwise>
                AND (notice_writer LIKE CONCAT('%', #{searchText}, '%') OR notice_title LIKE CONCAT('%', #{searchText}, '%') OR notice_content LIKE CONCAT('%', #{searchText}, '%'))
            </otherwise>
        </choose>
    </where>
    ORDER BY notice_idx DESC
</select>
	

	<!--  공지사항 글 작성  -->
	<insert id="insert" parameterType="noticeVO">
	   INSERT INTO notice_tb (MEMBER_TB_IDX, NOTICE_TITLE, NOTICE_CONTENTS, NOTICE_WRITER, NOTICE_HIT) 
	   VALUES (
	       #{member_tb_idx}, 
	       #{notice_title},
	       #{notice_contents}, 
	       (SELECT member_name FROM member_tb WHERE member_idx = #{member_tb_idx}), 
	       0
  	 );
	</insert>

	<!--  공지사항 글 번호를 받아와 그 해당하는 글을 선택하는 쿼리문 -->
	<select id="select" resultType="noticeVO" parameterType="noticeVO">
		select * from notice_tb where notice_idx = #{notice_idx}
	</select>
	
	
	<!-- - 공지사항 글 삭제 -->
	
	<delete id="delete" parameterType="int">
	
		delete from notice_tb where notice_idx = #{notice_idx}
	</delete>
	
	
	<!--  공지사항 글 수정 -->
	
		<update id="modify" parameterType="noticeVO" >
		    UPDATE notice_tb
		    SET 
		        MEMBER_TB_IDX = #{member_tb_idx},
		        NOTICE_TITLE = #{notice_title},
		        NOTICE_CONTENTS = #{notice_contents},
		        NOTICE_WRITER = #{notice_writer},
		        NOTICE_HIT = #{notice_hit}
		    WHERE
		        notice_idx = #{notice_idx}
		</update>

</mapper>