<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="game.dori.mapper.noticeMapper">

	<select id="selectAll" resultType="noticeVO" >
		SELECT * FROM notice_tb
	</select>  


	   <insert id="insert" parameterType="noticeVO">
        INSERT INTO notice_tb (MEMBER_TB_IDX, NOTICE_TITLE, NOTICE_CONTENTS, NOTICE_WRITER, NOTICE_HIT) 
        VALUES (
            (SELECT member_idx FROM member_tb WHERE member_idx = member_tb_idx), 
            #{notice_title},
            #{notice_contents}, 
            (SELECT member_name FROM member_tb WHERE member_idx = 1), 
            0
        );

	</insert>
</mapper>