<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="game.dori.mapper.noticeMapper">

	<select id="selectAll" resultType="noticeVO" parameterType="noticeVO">
		SELECT * FROM notice_tb
	</select>  


	<insert id="insert" parameterType="noticeVO">
		INSERT INTO notice_tb( 
			,NOTICE_TITLE
			,NOTICE_CONTENTS
		)VALUES (
			,#{notice_title}
			,#{notice_contents}
		)
	</insert>
</mapper>