<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="game.dori.mapper.orderDetailMapper">
	<!-- 주문 상세 상품목록 -->
	<insert id="insertOrderDetail" parameterType="orderlistVO">
		insert into order_detail_tb
		 (opt_tb_idx, order_tb_idx, orderd_qty, orderd_price)
		 values (#{opt_tb_idx}, #{order_tb_idx}, #{orderd_qty}, #{orderd_price})
	</insert>
	
	<!-- 주문 목록 리스트 연결 -->
	<select id="orderDetailOne" parameterType="int" resultType="orderDetailVO">
		select * from order_detail_tb
			where order_tb_idx = #{order_tb_idx}
			limit 1
	</select>
</mapper>