<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="game.dori.mapper.orderMapper">

	<select id="selectOrder" parameterType="orderVO">
		SELECT * FROM product_tb p, category_tb c where p.category_tb_code = c.cate_code

	</select>
	
	<!-- 메인페이지 주문내역 출력 -->
	<select id="selectOrderListMapper" parameterType="int" resultType="orderVO">
		SELECT *
		FROM order_tb  
		 where member_tb_idx =#{member_tb_idx}
		 order by order_idx desc limit 5
	</select>
	<!-- 메인페이지 주문내역 전체출력 -->
	<select id="selectOrderAllListMapper" parameterType="int" resultType="orderVO">
		SELECT *
		FROM order_tb  
		 where member_tb_idx =#{member_tb_idx}
		 order by order_idx desc
	</select>
	<!-- 주문상세 정보 출력 -->
	<select id="orderDetail" parameterType="orderlistVO" resultType="orderlistVO">
		select *
		from order_tb a, product_tb b, opt_tb c, order_detail_tb d
		where a.order_idx = d.order_tb_idx
		and d.OPT_TB_IDX = c.OPT_IDX
		and c.prod_tb_idx = b.prod_idx
		and MEMBER_TB_IDX = #{member_idx}
		and a.order_idx = #{order_idx}
	</select>
	<!-- 주문 맥스 인덱스 -->
	<select id="orderNum" resultType="int">
		select max(order_idx) from order_tb
	</select>
	
	<!-- 주문인덱스 생성 -->
	<insert id="insertOrder" parameterType="orderlistVO">
		insert into order_tb ( member_tb_idx, order_addr1, order_addr2, order_addr3, order_name, order_phone, order_memo, order_usepoint)
		 values( #{member_tb_idx}, #{order_addr1}, #{order_addr2}, #{order_addr3}, #{order_name}, #{order_phone}, #{order_memo},#{order_usepoint})
	</insert>
	
	<!-- 마이페이지 주문 환불  -->
	<update id="UpdateOrderStatus">
		UPDATE order_tb
			SET 	ORDER_STATE = #{order_state}
			WHERE 	MEMBER_IDX 	= #{member_idx}
	</update>
	
	<!-- 구매확정 -->
	<update id="updateOrderCheck" parameterType="int">
		update order_tb
		set order_state = 9
		where order_idx = #{order_idx}
	</update>
	
</mapper>