<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="game.dori.mapper.pageModifyMapper">
	<!-- 캐러셀 이미지 등록 -->
	<insert id="carouselInsert" parameterType="carouselVO">
		insert 
			into
				carousel_img_tb(carousel_img_name, carousel_prod_link)
			values
				(#{carousel_img_name}, #{carousel_prod_link})
	</insert>
	
	<!-- 캐러셀 이미지 리스트 -->
	<select id="carouselList" resultType="carouselVO">
		select * 
			from 
				carousel_img_tb
			order by carousel_img_idx desc limit 5
	</select>
	
	<!-- 광고 등록 -->
	<insert id="adInsert" parameterType="adVO">
		insert
			into
				ad_tb(ad_img_b, ad_img_s, ad_link, ad_title, ad_contents)
			values
				(#{ad_img_b}, #{ad_img_s}, #{ad_link}, #{ad_title}, #{ad_contents})
	</insert>
	
	<!-- 광고 리스트 -->
	<select id="adlist" resultType="adVO">
		select * 
			from 
				ad_tb
			order by ad_idx desc limit 2
	</select>
	
	<!-- 카테고리 이미지 등록 -->
	<insert id="cateImgInsert" parameterType="cateImgVO">
		insert
			into
				category_img_tb(cate_img_name, cate_img_type)
			values
				(#{cate_img_name}, #{cate_img_type})
	</insert>
	
	<!-- 카테고리 이미지 리스트 만들기 -->
	<!-- 
	<select id="cateImglist" resultType="cateImgVO">
		SELECT cate_img_name
		FROM category_img_tb
		WHERE cate_img_type = 1
		ORDER BY cate_img_idx DESC
		LIMIT 1
		
		UNION ALL
		
		SELECT cate_img_name
		FROM category_img_tb
		WHERE cate_img_type = 2
		ORDER BY cate_img_idx DESC
		LIMIT 1
		
		UNION ALL
		
		SELECT cate_img_name
		FROM category_img_tb
		WHERE cate_img_type = 3
		ORDER BY cate_img_idx DESC
		LIMIT 1
		
		UNION ALL
		
		SELECT cate_img_name
		FROM category_img_tb
		WHERE cate_img_type = 4
		ORDER BY cate_img_idx DESC
		LIMIT 1
		
		UNION ALL
		
		SELECT cate_img_name
		FROM category_img_tb
		WHERE cate_img_type = 5
		ORDER BY cate_img_idx DESC
		LIMIT 1
		
		UNION ALL
		
		SELECT cate_img_name
		FROM category_img_tb
		WHERE cate_img_type = 6
		ORDER BY cate_img_idx DESC
		LIMIT 1
		
		UNION ALL
		
		SELECT cate_img_name
		FROM category_img_tb
		WHERE cate_img_type = 7
		ORDER BY cate_img_idx DESC
		LIMIT 1

	</select>
	-->
	
	<select id="cateImg" resultType="java.util.Map">
	    SELECT 
	        (SELECT cate_img_name FROM category_img_tb WHERE cate_img_type = 1 ORDER BY cate_img_idx DESC LIMIT 1) AS cate_newImg,
	        (SELECT cate_img_name FROM category_img_tb WHERE cate_img_type = 2 ORDER BY cate_img_idx DESC LIMIT 1) AS cate_resImg,
	        (SELECT cate_img_name FROM category_img_tb WHERE cate_img_type = 3 ORDER BY cate_img_idx DESC LIMIT 1) AS cate_switchImg,
	        (SELECT cate_img_name FROM category_img_tb WHERE cate_img_type = 4 ORDER BY cate_img_idx DESC LIMIT 1) AS cate_ps5Img,
	        (SELECT cate_img_name FROM category_img_tb WHERE cate_img_type = 5 ORDER BY cate_img_idx DESC LIMIT 1) AS cate_ps4Img,
	        (SELECT cate_img_name FROM category_img_tb WHERE cate_img_type = 6 ORDER BY cate_img_idx DESC LIMIT 1) AS cate_xboxImg,
	        (SELECT cate_img_name FROM category_img_tb WHERE cate_img_type = 7 ORDER BY cate_img_idx DESC LIMIT 1) AS cate_goodsImg
	</select>
	
</mapper>