<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="game.dori.mapper.productMapper">

	<!-- 상품 등록 -->
	<insert id="prodInsert" parameterType="productVO">
		INSERT INTO 
		product_tb (`category_tb_code`, `prod_name`, `prod_price`, `prod_stock`, `prod_co`, `prod_opt`, `prod_rdate`, `prod_rating`, `prod_reserv`, `prod_imgt`, `prod_imgm`, `prod_imgd`) 
		VALUES (#{category_tb_code}, #{prod_name}, #{prod_price}, #{prod_stock}, #{prod_co}, #{prod_opt}, #{prod_rdate}, #{prod_rating}, #{prod_reserv}, #{prod_imgt}, #{prod_imgm}, #{prod_imgd});
	</insert>
	
	<!-- 상품 리스트 -->
	<select id="prodSelectAll" resultType="productVO" parameterType="categoryVO">
		SELECT * FROM product_tb p, category_tb c where p.category_tb_code = c.cate_code
		<if test="cate_refcode != null">
			and cate_refcode = #{cate_refcode}
		</if>
		<if test='cate_rsv != null'>
			and prod_reserv = #{cate_rsv}
		</if>
		<if test='cate_refcode == null and cate_code != null'>
			and category_tb_code = #{cate_code}
		</if>
	</select>
	
	<!-- 상품리스트 카운트 -->
	<select id="listCnt" resultType="int" parameterType="categoryVO">
		SELECT count(*) FROM product_tb p, category_tb c where p.category_tb_code = c.cate_code
		<if test="cate_refcode != null">
			and cate_refcode = #{cate_refcode}
		</if>
		<if test='cate_rsv != null'>
			and prod_reserv = #{cate_rsv}
		</if>
		<if test='cate_refcode == null and cate_code != null'>
			and category_tb_code = #{cate_code}
		</if>
	</select>
	
	<!-- 상품 수정 -->
	<update id="prodUpdate" parameterType="productVO">
		update product_tb
		set
		 category_tb_code  = #{category_tb_code}
		, prod_name = #{prod_name}
		, prod_price = #{prod_price}
		, prod_stock = #{prod_stock}
		, prod_co = #{prod_co}
		, prod_opt = #{prod_opt}
		, prod_rdate = #{prod_rdate}
		, prod_rating = #{prod_rating}
		, prod_reserv = #{prod_reserv}
		, prod_imgt = #{prod_imgt}
		, prod_imgm = #{prod_imgm}
		, prod_imgd = #{prod_imgd}
		where prod_idx = #{prod_idx}
	</update>
	
	<!-- 상품 삭제 -->
	<delete id="prodDelete" parameterType="int">
		delete from product_tb where prod_idx = #{prod_idx}
	</delete>
	
	<!-- 상품 상세 -->
	<select id="prodSelectOne" resultType="productVO" parameterType="productVO">
		select * from product_tb where prod_idx = #{prod_idx}
	</select>
</mapper>