<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="game.dori.mapper.productQMapper">
	<select id="selectList" resultType="PRODUCT_Q_VO" parameterType="int">
		select *
			from PRODUCT_Q_TB
			where MEMBER_TB_IDX = #{MEMBER_IDX}
	</select>
</mapper>