<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="game.dori.mapper.prodOptMapper">
	<!-- 옵션 입력 -->
	<insert id="optInsert" parameterType="optVO">
		insert into opt_tb(opt_name,opt_stock,opt_price,prod_tb_idx)
		value
			(#{opt_name},#{opt_stock},#{opt_price},#{prod_tb_idx})
	</insert>
	
	<!-- 상품인덱스 -->
	<select id="optIdx" resultType="int">
		select max(prod_idx) from product_tb
	</select>
	
	<!-- 옵션 정보 -->
	<select id="optSelect" resultType="optVO" parameterType="int">
		select * from opt_tb where prod_tb_idx = #{prod_idx}
	</select>
	<!-- 옵션 선택 정보 -->
	<select id="optSelectOne" resultType="optVO" parameterType="int">
		select * from opt_tb where opt_idx = #{opt_idx}
	</select>
	
	<!-- 옵션 수정 -->
	<update id="optModify" parameterType="optVO">
		update opt_tb set 
		opt_name = #{opt_name},
		opt_stock = #{opt_stock},
		opt_price = #{opt_price}
		where opt_idx = #{opt_idx};
	</update>
	<!-- 옵션 상태 수정 -->
	<update id="updateOptState" parameterType="optVO">
		update opt_tb set opt_state = #{opt_state} where opt_idx = #{opt_idx}
	</update>
	
	<!-- 상품 옵션 전체 삭제 -->
	<delete id="optDel" parameterType="int">
		delete from opt_tb where prod_tb_idx = #{prod_idx};
	</delete>
	<!-- 옵션 삭제 -->
	<delete id="optDelOne" parameterType="int">
		delete from opt_tb where opt_idx = #{opt_idx};
	</delete>
	
</mapper>