<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="game.dori.mapper.productQMapper">
	<!-- 관리자페이지 상품문의 리스트 출력 -->
	<select id="pqlist" resultType="pqlistVO">
		select *
			from
				product_q_tb pq,
				member_tb m,
				product_tb p
			where
				pq.product_tb_idx = p.prod_idx
				and
				pq.member_tb_idx = m.member_idx
	</select>
	
	<!-- 상품문의 답변 -->
	<update id="pqAnswer" parameterType="pqlistVO">
		update product_q_tb
			set
				prod_q_reply = #{prod_q_reply},
				prod_q_yn = 1
			where
				prod_q_idx = #{prod_q_idx}
	</update>

	<!-- 마이페이지 -상품문의 리스트 출력 -->
	<select id="selectQAList" resultType="productqq_VO" parameterType="int">
		SELECT *
			FROM product_q_tb q
			INNER JOIN product_tb p
			 on q.product_tb_idx = p.prod_idx
			WHERE member_tb_idx = #{member_idx}
		
	</select>
	<!-- int 타입의 매개변수 member_idx 값을 받아서 칼럼 전체의 값을 p 객체로 형태로 반환 -->
	
	<!-- 상품문의 작성 -->
	<insert id="prodQinsert" parameterType="product_Q_VO">
		insert into product_q_tb ( product_tb_idx, member_tb_idx, prod_q_title, prod_q_contents, prod_q_secret )
		 values ( #{product_tb_idx}, #{member_tb_idx}, #{prod_q_title}, #{prod_q_contents}, #{prod_q_secret} )
	</insert>
	
	<!-- 상품문의목록 -->
	<select id="prodQlist" resultType="pqlistVO" parameterType="int">
		select *
		 from product_q_tb q, member_tb m
		  where q.member_tb_idx = m.member_idx and product_tb_idx = #{prod_idx}
	</select>
	<!-- 상품문의목록카운트 -->
	<select id="prodQlistCnt" resultType="int" parameterType="int">
		select count(*)
		 from product_q_tb q, member_tb m
		  where q.member_tb_idx = m.member_idx and product_tb_idx = #{prod_idx}
	</select>
</mapper>