<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="game.dori.mapper.qaMapper">

	<!-- 마이페이지 1:1문의 리스트 출력  -->
	<select id="selectList2" resultType="qaVO" parameterType="int">
		select *
			from QA_TB
			where MEMBER_TB_IDX = #{MEMBER_IDX}
	</select>
	
	

</mapper>