<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="game.dori.mapper.reviewMapper">

	<!-- 마이페이지 리뷰 리스트 출력  -->
	<select id="selectReviewList" resultType="reviewVO" parameterType="int">
		select * 
			from
				review_tb r,
				member_tb m,
				product_tb p
			where
				r.product_tb_idx = p.prod_idx
			and 
				r.member_tb_idx = m.member_idx 
	</select>
	
	<!-- 리뷰 작성 -->
	<insert id="review_insert" parameterType="reviewVO">
		INSERT INTO 
			REVIEW_TB (
				PRODUCT_TB_IDX,
				MEMBER_TB_IDX,
				REVIEW_TITLE,
				REVIEW_CONTENTS,
				REVIEW_STAR,
				REVIEW_IMG)
			VALUES (
				#{product_tb_idx},
				#{member_tb_idx},
				#{review_title},
				#{review_contents},
				#{review_star},
				#{review_img}
			)
	</insert>

	
	<!-- 마이페이지 리뷰 개수 -->
	<select id="ReviewCount" resultType="int" parameterType="int">
		SELECT COUNT(REVIEW_IDX)
		FROM REVIEW_TB
		WHERE MEMBER_TB_IDX = #{MEMBER_IDX}
	</select>
	
	
	 <!-- 검색(복붙) --> 
	<select id="search" resultType="reviewVO" parameterType="map">
	  SELECT * FROM review_tb
	  		INNER JOIN product_tb
	  		ON review_tb.product_tb_idx = product_tb.prod_idx
	  
	  <where>
	    <choose>
	      <when test="R_searchType == 'title'">
	        <if test="R_searchValue != null and R_searchValue != ''">
	          and review_title like CONCAT('%', #{R_searchValue}, '%')
	        </if>
	      </when>
	      <when test="R_searchType == 'name'">
	        <if test="R_searchValue != null and R_searchValue != ''">
	          AND prod_name LIKE CONCAT('%', #{R_searchValue}, '%'))
	        </if>
	      </when>
	      <otherwise>
	        <if test="R_searchValue != null and R_searchValue != ''">
	          AND (review_title LIKE CONCAT('%', #{R_searchValue}, '%') OR review_title LIKE CONCAT('%', #{R_searchValue}, '%') OR prod_name LIKE CONCAT('%', #{R_searchValue}, '%'))
	        </if>
	      </otherwise>
	    </choose>
	  </where>
	  ORDER BY review_idx DESC
	  LIMIT #{start}, #{limit}
	</select>
	
		<!--  검색된 쿼리의 갯수도 얻어오기위해 사용(복붙) -->
	<select id="countSearchResults" resultType="int" parameterType="map">
		  SELECT COUNT(*) FROM review_tb
		  	INNER JOIN product_tb
	  		ON review_tb.product_tb_idx = product_tb.prod_idx
		  <where>
		    <choose>
		      <when test="R_searchType == 'title'">
		        <if test="R_searchValue != null and R_searchValue != ''">
		          review_title like CONCAT('%', #{R_searchValue}, '%')
		        </if>
		      </when>
		      <when test="R_searchType == 'name'">
		        <if test="R_searchValue != null and R_searchValue != ''">
		          prod_name LIKE CONCAT('%', #{R_searchValue}, '%'))
		        </if>
		      </when>
		      <otherwise>
		        <if test="R_searchValue != null and R_searchValue != ''">
		          (review_title LIKE CONCAT('%', #{R_searchValue}, '%') OR review_title LIKE CONCAT('%', #{R_searchValue}, '%') OR prod_name LIKE CONCAT('%', #{R_searchValue}, '%'))
		        </if>
		      </otherwise>
		    </choose>
		  </where>
		</select>

	<!-- 상품상세 리뷰목록 -->
	<select id="prodReviewList" parameterType="int" resultType="reviewVO">
		select * from review_tb r, member_tb m
			where r.member_tb_idx = m.member_idx
			and product_tb_idx = #{prod_idx}
	</select>
	
	<!-- 상품상세 리뷰카운트 -->
	<select id="prodReviewCnt" parameterType="int" resultType="int">
		select count(*) from review_tb
			where product_tb_idx = #{prod_idx}
	</select>
</mapper>