<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="game.dori.mapper.wishlistMapper">

	<select id="selectWishlist" parameterType="int" resultType="wishlistVO">
		SELECT * FROM wishlist_tb, product_tb, member_tb
		WHERE wishlist.MEMBER_TB_IDX = member_tb.MEMBER_IDX
			and member_tb_idx = #{member_idx}
	</select>

</mapper>