<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="game.dori.mapper.wishlistMapper">

	<!-- 리스트 -->
	<select id="selectWishlist" resultType="wishlistVO">
		SELECT
			row_number() over(order by w.idWISHLIST_TB desc) as num,
			w.MEMBER_TB_IDX, w.idWISHLIST_TB, w.PRODUCT_TB_IDX,
			p.PROD_IDX, p.PROD_NAME, p.PROD_PRICE, p.PROD_IMGT,
			o.OPT_IDX, o.PROD_TB_IDX, o.OPT_NAME, o.OPT_PRICE
		from wishlist_tb w, product_tb p, opt_tb o
			where w.MEMBER_TB_IDX = #{MEMBER_TB_IDX}
			and w.PRODUCT_TB_IDX = p.PROD_IDX = o.PROD_TB_IDX;
	</select>
	
	<!-- 카트 담기 -->
	<insert id="addCart">
		INSERT
			into Cart_tb (CART_QTY, MEMBER_TB_IDX, PRODUCT_TB_IDX, CART_YN)
			values (1, #{MEMBER_TB_IDX}, #{PRODUCT_TB_IDX}, 2)
	</insert>


	<!-- 리스트에서 삭제 -->



</mapper>