<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
				"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<!-- vo 별칭 정보 -->
		<typeAlias type="game.dori.vo.ADDRESS_VO" alias="addressVO" />
		<typeAlias type="game.dori.vo.CART_VO" alias="cartVO" />
		<typeAlias type="game.dori.vo.CATEGORY_VO" alias="categoryVO" />
		<typeAlias type="game.dori.vo.DEL_VO" alias="delVO" />
		<typeAlias type="game.dori.vo.MEMBER_VO" alias="memberVO" />
		<typeAlias type="game.dori.vo.NOTICE_VO" alias="noticeVO" />
		<typeAlias type="game.dori.vo.ORDER_DETAIL_VO" alias="orderDetailVO" />
		<typeAlias type="game.dori.vo.ORDER_VO" alias="orderVO" />
		<typeAlias type="game.dori.vo.PAY_VO" alias="payVO" />
		<typeAlias type="game.dori.vo.POINT_USED_VO" alias="pointUsedVO" />
		<typeAlias type="game.dori.vo.PRODUCT_Q_VO" alias="product_Q_VO" />
		<typeAlias type="game.dori.vo.PRODUCTQQ_VO" alias="productqq_VO" />
		<typeAlias type="game.dori.vo.PRODUCT_VO" alias="productVO" />
		<typeAlias type="game.dori.vo.QA_VO" alias="qaVO" />
		<typeAlias type="game.dori.vo.REFUND_VO" alias="refundVO" />
		<typeAlias type="game.dori.vo.REVIEW_VO" alias="reviewVO" />
		<typeAlias type="game.dori.vo.SAVEPOINT_VO" alias="savepointVO" />
		<typeAlias type="game.dori.vo.USEPOINT_VO" alias="usepointVO" />
		<typeAlias type="game.dori.vo.WISHLIST_VO" alias="wishlistVO" />
		<typeAlias type="game.dori.vo.COUPON_VO" alias="couponVO"/>
		<typeAlias type="game.dori.vo.REVIEW_Search_VO" alias="reviewsearchVO"/>
		<typeAlias type="game.dori.util.ORDER_LIST_VO" alias="orderlistVO"/>
		<typeAlias type="game.dori.util.OTO_VO" alias="otoVO"/>
		<typeAlias type="game.dori.util.PROD_Q_LIST_VO" alias="pqlistVO"/>
		<typeAlias type="game.dori.vo.OPT_VO" alias="optVO"/>
		<typeAlias type="game.dori.vo.CARTP_VO" alias="cartpVO"/>
		<typeAlias type="game.dori.vo.OPTLIST_VO" alias="optlistVO"/>
		<typeAlias type="game.dori.vo.CAROUSEL_VO" alias="carouselVO"/>
		<typeAlias type="game.dori.vo.AD_VO" alias="adVO"/>
		<typeAlias type="game.dori.util.PRODOPT_VO" alias="prodoptVO"/>
		<typeAlias type="game.dori.vo.CATEGORY_IMG_VO" alias="cateImgVO"/>
	</typeAliases>

</configuration>