<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
				"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<!-- vo 별칭 정보 -->
		<typeAlias type="game.dori.vo.ADDRESS_VO" alias="addressVO" />
		<typeAlias type="game.dori.vo.CART_VO" alias="cartVO" />
		<typeAlias type="game.dori.vo.CATEGORY_VO" alias="categoryVO" />
		<typeAlias type="game.dori.vo.DEL_VO" alias="delVO" />
		<typeAlias type="game.dori.vo.MEMBER_VO" alias="memberVO" />
		<typeAlias type="game.dori.vo.NOTICE_VO" alias="noticeVO" />
		<typeAlias type="game.dori.vo.ORDER_DETAIL_VO" alias="orderDetailVO" />
		<typeAlias type="game.dori.vo.ORDER_VO" alias="orderVO" />
		<typeAlias type="game.dori.vo.PAY_VO" alias="payVO" />
		<typeAlias type="game.dori.vo.POINT_USED_VO" alias="pointUsedVO" />
		<typeAlias type="game.dori.vo.PRODUCT_A_VO" alias="productAVO" />
		<typeAlias type="game.dori.vo.PRODUCT_IMG_VO" alias="productImgVO" />
		<typeAlias type="game.dori.vo.PRODUCT_Q_VO" alias="productQVO" />
		<typeAlias type="game.dori.vo.PRODUCT_VO" alias="productVO" />
		<typeAlias type="game.dori.vo.QA_A_VO" alias="qaAVO" />
		<typeAlias type="game.dori.vo.QA_VO" alias="qaVO" />
		<typeAlias type="game.dori.vo.REFUND_VO" alias="refundVO" />
		<typeAlias type="game.dori.vo.REVIEW_VO" alias="reviewVO" />
		<typeAlias type="game.dori.vo.SAVEPOINT_VO" alias="savepointVO" />
		<typeAlias type="game.dori.vo.USEPOINT_VO" alias="usepointVO" />
		<typeAlias type="game.dori.vo.WISHLIST_VO" alias="wishlistVO" />
	</typeAliases>

</configuration>